/* additional styles */
		body {
			background: url(flame.png)no-repeat center center fixed ;
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;

		}
		.btn {
			 color: #fffac8;
			 border-color: #7e2504
		}
		.btn:focus{
			outline:0;
		}
		.wellStyle {
			background-color: rgba(226,64,4,.55);
			border-color: #7e2504;

		}
		.wellStyle2 {
			background-color: rgba(226,64,4,.55);
			border-color: #7e2504;
		}
		.headerH1 {
			text-align:center;
			margin-bottom: 40px;
			color: #fffac8;
			font-family: 'Kaushan Script', cursive;	
			font-size: 4em;
		}
		.tempReturn {
			width:100px;
			height:100px;
			border-radius: 100%;
			text-align:center;
			display: inline-block;
			color:#fffac8;

		}
		.tempReturn2 {
			width:100px;
			height:100px;
			border-radius: 100%;
			text-align:center;
			display: inline-block;
			color:#fffac8;

		}
		.makeFire {
			background-color: rgba(226,64,4,.55);
			border-color: #7e2504;
		}
		.makeRain {
			background-color: rgba(226,64,4,.55);
			border-color: #7e2504;
		}
		.clearAll {
			background-color: rgba(226,64,4,.55);
			border-color: #7e2504;

		}
		h4 {
			color: #fffac8;
		}
		.dataPad {
			padding-bottom: 20px;
		}
